.loginPages {
	width: 100%;
	height: 100vh;
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.content {
		display: flex;
		justify-content: center;
		gap: 4rem;
		align-items: start;
		.loginPhotos {
			img {
				box-shadow: 0px 0px 12px black;
				border-radius: 12px;
			}
		}
		.forms {
			display: flex;
			flex-direction: column;
			padding-block: 2rem;
			padding-inline: 1rem;
			border-radius: 8px;
			box-shadow: 0px 0px 4px black;
			align-items: center;
			gap: 5rem;
			// height: 400px;
			height: auto;
			width: 285px;
			i {
				color: black;
				font-size: 1.5rem;
				font-weight: 700;
			}
			.inputsDiv {
				display: flex;
				flex-direction: column;
				gap: 0.6rem;
				input {
					// width: 100%;
					width: 220px;
					padding-left: 11px;
					height: 1.9rem;
					border-radius: 5px;
					background-color: aliceblue;
					box-shadow: 0px 0px 3px rgb(26, 25, 25);
					color: rgb(23, 21, 21);
					border: none;
					font-size: 15px;
					font-weight: 400;
				}
				button {
					background-color: rgb(50, 50, 243);
					color: aliceblue;
					font-weight: 500;
					font-size: 14px;
					border-radius: 8px;
					border: none;
					height: 28px;
				}
				.and {
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					div {
						width: 75px;
						height: 0.5px;
						border: 0.5px solid rgb(110, 107, 107);
						// box-shadow: 0px 0px 2px black;
					}
					p {
						color: rgb(24, 22, 22);
						font-weight: 500;
						font-size: 14px;
					}
				}
				.buttonIcon {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 1.2rem;
					padding-block: 0.6rem;
					// padding-inline: 4rem;
					// width: 255px;
					background-color: transparent;
					box-shadow: 0px 0px 2px black;
					cursor: pointer;
					// :185px ;
					img {
						width: 25px;
						height: 25px;
						// background-color: rgb(50, 50, 243);
						// color: rgb(50, 50, 243);
					}
					span {
						color: rgb(50, 50, 243);
						font-weight: 400;
						font-size: 12px;
					}
				}
				.p {
					color: black;
					font-weight: 350;
					font-size: 12px;
					text-align: center;
					cursor: pointer;
				}
			}
		}
	}
	.forms2 {
		display: flex;
		// justify-content: ;
		align-items: center;
		// gap: rem;
    gap: 7px;
    border-radius: 7px;
    box-shadow: 0px 0px 4px black;
	}
}
